<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Titre</th>
          <th scope="col">Resultat</th>
          <th scope="col">Utilisateur</th>
          <th scope="col">Montrer</th>
          <th scope="col">Supprime</th>
          
        

        </tr>
      </thead>
      <tbody>
    
<% @foot_print.each do |foot| %>
        <tr>
          <td> <%= foot.product.title %> </td>
          <td><%= foot.result %></td>
          <td><%= link_to foot.user.first_name , admin_user_path(foot.user.id)%></td>
          <td><%= link_to "more", admin_foot_print_path(foot.id) %>
          <td><%= link_to "Delete", admin_foot_print_path(foot.id), data: {:confirm => "Are you sure?"}, :method => :delete%></td>
        </tr>
<% end %>
        <tr>
      </tbody>
    </table>
<div id="menu">
<%= link_to "Modifier le profil", edit_user_registration_path(current_user.id), class:"nav-link"%>
</div>

