<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Condition</th>
      <th scope="col">Delete</i><th>
      <th scope="">
    </tr>
  </thead>
  <tbody>
<%@product.each do |item|%>
    <tr>
      <td><%= item.title %></td>
      <td><%= item.price %></td>
      <td><%= item.description %></td>
    </tr>
<%end%>
    <tr>
  </tbody>
</table>
</div>

<p><%=@product.first.brand.ratio.carbon_print_for_brand%></p>

<%# <div id='map'></div> %>
<%# <script>
L.mapbox.accessToken = 'pk.eyJ1IjoiY29yc2FpcmUiLCJhIjoiY2p0NWx2NzJ3MDZvNDN5b2N1OHV3NnVtMCJ9.w2Wo9p1K9LtFLVcmLXfpVA';
var map = L.mapbox.map('map')
    .setView(France, 8)
    .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'));
</script> %>



<div id='map' class='dark'></div>
<%# <script type='text/javascript'> %>
<%= javascript_tag do %>
  console.log("ca fonctionne")

console.log(<%= @product.find(1).latitude%>)


mapboxgl.accessToken = 'pk.eyJ1IjoiY29yc2FpcmUiLCJhIjoiY2p0NWx2NzJ3MDZvNDN5b2N1OHV3NnVtMCJ9.w2Wo9p1K9LtFLVcmLXfpVA';

var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/light-v10',
  center:      [<%= @product.find(1).longitude %>,<%= @product.find(1).latitude %> ],

  zoom: 5
});


console.log(<%= @product.find(1).latitude%> ,<%= @product.find(1).longitude%>)
var geojson = {
  type: 'FeatureCollection',
  features: [{
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [<%= @product.find(1).longitude %>,<%= @product.find(1).latitude %> ]
    },
    properties: {
      title: 'Mapbox',
      description: 'Washington, D.C.'
    }
  },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [4.850000, 45.750000]
    },
    properties: {
      title: 'Mapbox',
      description: 'San Francisco, California'
    }
  }]
};

// add markers to map
geojson.features.forEach(function(marker) {

  // create a HTML element for each feature
  var el = document.createElement('div');
  el.className = 'marker';

  new mapboxgl.Marker(el)
    .setLngLat(marker.geometry.coordinates)
    .addTo(map);
});

new mapboxgl.Marker(el)
  .setLngLat(marker.geometry.coordinates)
  .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
    .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>'))
  .addTo(map);

<%end %>
<%# </script> %>