
<br>
<br>

<div>
<%@product.each do |item|%>
<div class="card text-center">
  <div class="card-header">
    <%= item.title %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= item.description  %></h5>
    <p class="card-text"><%= item.price %></p>
    <p class="card-text"><%= item.city %></p>
    <%=link_to "voir moins", product_path(item),class:"btn btn-info" %>
  </div>
  </div>
</div>
<%end%>

</div>