<div class="card bg-dark text-white">
 <img class="card-img" src="https://images.pexels.com/photos/193004/pexels-photo-193004.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image">


<div class="wrapper">
        <div class="page-header-mini" filter-color="orange">
            <div class="page-header-image" data-parallax="true";>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-5" style="margin-top: -20%">
                        
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <img class="d-block img-raised" src="https://images.pexels.com/photos/193004/pexels-photo-193004.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="First slide">
                           
                        </div>
                    </div>
                        <br>
                        <br>
                        
                         
                      <% if user_signed_in? %>
                            <div id="new-test" >
                                <%= link_to "Calculer l'empreinte carbone", new_product_footprint_path(product_id: @product.id),
                                 remote: true %>
                            </div>
                            <% else %>
                            <p class="btn"><%= link_to "connectez vous pour calculer l'empreinte", new_user_session_path %></p>
                        <%end%>
                    
                    </div>
                        
                    
                    <div class="col-md-6 ml-auto mr-auto" style="margin-top: -15%">
                        <h2 class="title"> <%= @product.title.capitalize %> </h2>
                        <h5 class="category">Slim-Fit Leather Biker Jacket</h5>
                        <h2 class="main-price" style=" color:black;" ><%= @product.price %> €</h2>
                        <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                            <div class="card card-plain">
                                <div class="card-header" role="tab" id="headingOne">

                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Resultat :<%= @product.result %>

                                        <i class="now-ui-icons arrows-1_minimal-down"></i>
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="card-body" style="color:black">
                                        <%= @product.description %>
                                    </div>
                                </div>
                            </div>

                        

                    </div>
                </div>
            </div>
        </div>

    </div>

