
 <img class="card-img" src="https://images.pexels.com/photos/193004/pexels-photo-193004.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image">


<div class="wrapper">
        <div class="page-header-mini" filter-color="orange">
            <div class="page-header-image" data-parallax="true";>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-5" style="margin-top: -20%">
                        
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <img class="d-block img-raised" src="https://images.pexels.com/photos/193004/pexels-photo-193004.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="First slide">
                           
                        </div>
                    </div>
                        <br>
                        <br>
                        
                         
                      <% if user_signed_in? %>
                            <div id="new-test" >
                                <%= link_to "Calculez l'empreinte carbone l'empreinte de la livraison", new_product_footprint_path(product_id: @product.id),
                                 remote: true %>
                            </div>
                            
                            <% else %>
                            <p class="btn"><%= link_to "connectez vous pour calculer l'empreinte de la livraison", new_user_session_path %></p>
                        <%end%>
                    
                    </div>
                        
                    
                    <div class="col-md-6 ml-auto mr-auto" style="margin-top: -15%">
                        <h2 class="title"> <%= @product.title.capitalize %> </h2>
                        <h5 class="category"> <%= @product.type.name %></h5>
                        
                        <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                            <div class="card card-plain">
                                <div class="card-header" role="tab" id="headingOne">

                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
<<<<<<< HEAD
                                        <%= @product.tx_total %> de kg de Co2 emit

                                       
=======
                                        <i class="now-ui-icons arrows-1_minimal-down"></i>
>>>>>>> 61bfdcc8099c06fff5ea758703d1f2811a407327
                                    </a>
                                </div>
                                
                            </div>

                        

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>