<body>
<div class="wrapper">
        <div class="page-header page-header">
            <div class="page-header-image" data-parallax="true" style="background-image: url('../assets/img/ciel/ciel11') ;">
         </div> 
         </div>
         
            <div class="card " data-background-color="black">
                                    <div class="card-body content-danger">
                                        <h2 class="category-social text-center">
                                           <%= @product.title %>
                                        </h2>
                                        <h6 class="categorie text-center">
                                            <%= @product.type.name %>
                                        </h6>
                                        <h6 class="categorie-social text-center">
                                             <%= @product.tx_total %> kg de co2 emit
                                        </h6>
                                        <br>
                                        <div class="card-footer text-center">
                                            <% if user_signed_in? %>
                                                <div id="new-test" class="row justify-content-end">
                                                     <%= link_to "Calculer l'empreinte carbon", new_product_footprint_path(product_id: @product.id),
                                                    remote: true, :style=> 'color:#FFFFFF;', :class => 'btn btn-secondary mr-7'%>
                                            </div>
                                                <% else %>
                                                <p class="btn"><%= link_to "connectez vous pour calculer l'empreinte", new_user_session_path %></p>
                                            <%end%>
                                        </div>
                                            </div>
                                    </div>
                                </div>
        
              
                        </body>
                            

                  