<div class="container">
  <h5 style="text-align:center">User Profile Card</h5>
<div class="d-flex">

  <div class="card">
    <img src="https://as1.ftcdn.net/jpg/01/81/50/34/500_F_181503471_1Aab3pE1W5ZkfbdS5eIyZofEjoXEtVRl.jpg" alt="John" style="width:100%">
    <h1><%= @user.first_name %> <%= @user.last_name %> </h1>
    <p class="title">
    <%= @user.email %>
    </p>
    <p><%= "#{@user.town} , #{@user.country}" %></p>
    <div style="margin: 24px 0;">
      <a href="#"><i class="fa fa-dribbble"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
    </div>
    <p><button>Contact</button></p>
  </div>
</div>





<br><br><br>
<div class="jumbotron">
<h2>result des tests</h2>
<h5>
<hr>
<%= "l'utilisateur a effectué #{@foot_print.count} tests" %>
<hr>
</h5>
<% if @foot_print.count > 0 %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">result</th>
        

        </tr>
      </thead>
      <tbody>

<% @foot_print.each do |foot| %>
        <tr>
          <td> <%= foot.product.title %> </td>
          <td> <%= foot.result %> </td>
        </tr>
<% end %>
        <tr>
      </tbody>
    </table>
    <%end%>

    </div>
<div id="menu">
<%= link_to "Modifier le profil", edit_user_registration_path(current_user.id), class:"nav-link"%>
</div>
