<h1>Mon Profil</h1>

<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Prenom</th>
          <th scope="col">Nom</th>
          <th scope="col">Email</th>
        

        </tr>
      </thead>
      <tbody>
    
        <tr>
          <td><%= @user.first_name %></td>
          <td><%= @user.last_name %></td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
      </tbody>
    </table>



<br><br><br>
<h2>result des tests</h2>
<h5>
<hr>
<%= "l'utilisateur a effectué #{@foot_print.count} tests" %>
<hr>
</h5>
<% if @foot_print.count > 0 %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">result</th>
          <th scope="col">voir</th>
        </tr>
      </thead>
      <tbody>
<% @foot_print.each do |foot| %>
        <tr>
          <td> <%= foot.product.title %> </td>
          <td><%= foot.result %></td>
          <td><%= link_to "a voir", footprint_path(foot.id) %></td>
        </tr>
<% end %>
        <tr>
      </tbody>
    </table>
    <%end%>
<div id="menu">
<%= link_to "Modifier le profil", edit_user_registration_path(current_user.id), class:"nav-link"%>
</div>






