
<div class="profile-page">
<div class="wrapper">
        <div class="page-header page-header-small" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-image: url('../assets/img/bg5.jpg') ;">
            </div>
            <div class="content-center">
                
                <h1 class="title" style="text-transform: uppercase; font-size: 250%"><%= @user.first_name %> <%= @user.last_name %></h1>
                
                
                    
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="button-container">
                    

<%= link_to "Modifier le profil", edit_user_registration_path(current_user.id),:style=>'color:#FFFFFF;',class:"btn btn-primary btn-round btn-lg"%>

                </div>
                <h3 class="title">Informations</h3>

                <h5 class="description text-center">
                  <%= @user.email %>
                </h5>
                   





<br><br><br>
<div class="jumbotron">
<h2>resultat des tests</h2>
<h5>
<hr>
<%if @foot_print.count == nil or @foot_print.count == 0 %>
<%= "l'utilisateur a effectué #{@foot_print.count} test" %>
<%else%>
<%= "l'utilisateur a effectué #{@foot_print.count} tests" %>
<%end%>
<hr>
</h5>
<% if @foot_print.count > 0 %>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">result</th>
          <th scope="col">voir</th>
        </tr>
      </thead>
      <tbody>

<% @foot_print.each do |foot| %>
        <tr>
          <td> <%= foot.product.title %> </td>
          <td><%= foot.result %></td>
          <td><%= link_to "a voir", footprint_path(foot.id) %></td>
        </tr>
<% end %>
        <tr>
      </tbody>
    </table>

    <%end%>

    </div>



</tr></tbody></table></div></div></div></div></div>






