<br><br><br><br>
<div class="container">
  <h5 style="text-align:center">Profile de l'utilisateur</h5>
<div class="d-flex">

  <div class="card">
    <img src="https://as1.ftcdn.net/jpg/01/81/50/34/500_F_181503471_1Aab3pE1W5ZkfbdS5eIyZofEjoXEtVRl.jpg" alt="John" style="width:100%">
    <h4><%= @user.first_name %> <%= @user.last_name %> </h4>
    <p class="title">
    <%= @user.email %>
    </p>
    <p><%= "#{@user.town} , #{@user.country}" %></p>
    <p><button>Contact</button></p>
  </div>
</div>





<br><br><br>
<div class="jumbotron">
<h2>resultat des tests</h2>
<h5>
<hr>
<%if @foot_print.count == nil or @foot_print.count == 0 %>
<%= "l'utilisateur a effectué #{@foot_print.count} test" %>
<%else%>
<%= "l'utilisateur a effectué #{@foot_print.count} tests" %>
<%end%>
<hr>
</h5>
<% if @foot_print.count > 0 %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">result</th>
          <th scope="col">voir</th>
        </tr>
      </thead>
      <tbody>

<% @foot_print.each do |foot| %>
        <tr>
          <td> <%= foot.product.title %> </td>
          <td><%= foot.result %></td>
          <td><%= link_to "a voir", footprint_path(foot.id) %></td>
        </tr>
<% end %>
        <tr>
      </tbody>
    </table>
    <%end%>

    </div>
<div id="menu">
<%= link_to "Modifier le profil", edit_user_registration_path(current_user.id), class:"nav-link"%>
</div>
