<h1>Mon Profil</h1>

<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Prenom</th>
          <th scope="col">Nom</th>
          <th scope="col">Email</th>
        

        </tr>
      </thead>
      <tbody>
    
        <tr>
          <td><%= @user.first_name %></td>
          <td><%= @user.last_name %></td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
      </tbody>
    </table>

<% @foot_print.each do |foot| %>
    <%= foot.result %>
    <%= foot.product.title %>
<% end %>
<div id="menu">
<%= link_to "Modifier le profil", edit_user_registration_path(current_user.id), class:"nav-link"%>
</div>






