<div class="profile-page">
<div class="wrapper">
        <div class="page-header page-header-small" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-image: url('../assets/img/bg5.jpg') ;">
            </div>
            <div class="content-center">
                
                <h3 class="title" style="text-transform: uppercase;"><%= @user.first_name %> <%= @user.last_name %></h3>
                <p class="category">Photographer</p>
                <div class="content">
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Comments</p>
                    </div>
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Comments</p>
                    </div>
                    <div class="social-description">
                        <h2>48</h2>
                        <p>Bookmarks</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="button-container">
                    <a href="#button" class="btn btn-primary btn-round btn-lg">Follow</a>
                    <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
                        <i class="fa fa-instagram"></i>
                    </a>

<%= link_to "Modifier le profil", edit_user_registration_path(current_user.id), class:"btn btn-primary btn-round btn-lg"%>

                </div>
                <h3 class="title">About me</h3>
                <h5 class="description text-center"><%= @user.email %></h5>




<br><br><br>
<h2>result des tests</h2>
<h5>
<hr>
<%= "l'utilisateur a effectué #{@foot_print.count} tests" %>
<hr>
</h5>
<% if @foot_print.count > 0 %>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">result</th>
          <th scope="col">voir</th>
        </tr>
      </thead>
      <tbody>
    
<% @foot_print.each do |foot| %>
        <tr>
          <td> <%= foot.product.title %> </td>
          <td><%= foot.result %></td>
          <td><%= link_to "a voir", footprint_path(foot.id) %></td>
        </tr>
<% end %>
        <tr>
      </tbody>
    </table>

    <%end%>
<div id="menu">
<%= link_to "Modifier le profil", edit_user_registration_path(current_user.id), class:"nav-link"%>
</div>


</tr></tbody></table></div>





