<br>
<br>
<br>
<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Titre</th>
      <th scope="col">Catégorie</th>
      <th scope="col">Marque</th>
      <th scope="col">Plus</th>
      <th scope="col">Supprimer</th>


    </tr>
  </thead>
  <tbody>
    <%@product.each do |pro|%>
    <tr>
      <td><%= pro.id %></td>
      <td><%= pro.title %></td>
      <td><%= pro.type.name%></td>
      <td><%= pro.brand.name %></td>
      <td><%= link_to "more", admin_product_path(pro.id) %></td>
      <td><%= link_to "Delete", admin_product_path(pro.id),data: { :confirm => "Are you sure?"}, :method => :delete %></td>

    </tr>
      <%end%>
  </tbody>
</table>
