<%= form_for [@product , @footprint], remote: true do |form| %>

  <% if footprint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(footprint.errors.count, "error") %> prohibited this footprint from being saved:</h2>

      <ul>
      <% footprint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= form.hidden_field :product_id, value: @product.id %>

   <div style ="width: 100%">
     <div class="form-control">
      <%= form.label :delivery_address %>
      <input type="text" value="" placeholder="Votre adresse" class="form-control" <%= form.text_field :delivery_address %>




      </input>
    </div>


    <div class="form-control">
       <%= form.label :zip_code %>
      <input type="text" value="" placeholder="Votre code postal" class="form-control" <%= form.number_field :zip_code %>



      </input>
    </div>


    <div class="form-control">
      <%= form.label :town %>
      <input type="text" value="" placeholder="Votre ville" class="form-control" <%= form.text_field :town %>



      </input>
    </div>

    <div class="form-control">
      <%= form.label :country %>
      <input type="text" value="" placeholder="Pays" class="form-control" <%= form.text_field :country %>


      </input>
    </div>

      <button type="form.submit" class="btn btn-primary btn-round" >

        Let's go
      </button>

      </div>

</div>

<% end %>
