<%= form_with(model: foot_print, local: true) do |form| %>
  <% if foot_print.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(foot_print.errors.count, "error") %> prohibited this foot_print from being saved:</h2>

      <ul>
      <% foot_print.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :delivery_address %>
    <%= form.text_field :delivery_address %>
  </div>

  <div class="field">
    <%= form.label :zip_code %>
    <%= form.number_field :zip_code %>
  </div>

  <div class="field">
    <%= form.label :town %>
    <%= form.text_field :town %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
