<p id="notice"><%= notice %></p>

<p>
  <strong>Delivery address:</strong>
  <%= @foot_print.delivery_address %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @foot_print.zip_code %>
</p>

<p>
  <strong>Town:</strong>
  <%= @foot_print.town %>
</p>

<p>
  <strong>Country:</strong>
  <%= @foot_print.country %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @foot_print.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @foot_print.longitude %>
</p>

<p>
  <strong>Result:</strong>
  <%= @foot_print.result %>
</p>

<p>
  <strong>User:</strong>
  <%= @foot_print.user_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @foot_print.product_id %>
</p>
<%= link_to 'Edit', edit_foot_print_path(@foot_print.id) %> |
<%# <%= link_to 'Back', foot_prints_path %> %>

<br>


<div id='map'></div>
<%= javascript_tag do %>

console.log("<%= @foot_print.town %>")
console.log("<%= @foot_print.product %>")

var ENV = {
 MAPBOX_API: '<%= ENV['MAPBOX_API'] %>',
}
mapboxgl.accessToken =ENV['MAPBOX_API']


var map = new mapboxgl.Map({
 container: 'map', // container id
 style: 'mapbox://styles/mapbox/navigation-preview-day-v4', // stylesheet location
 center: [2.56123,48.817038], // starting position
 zoom: 3 // starting zoom
});

var route = {
 type: 'FeatureCollection',
 features: [{
   type: 'Feature',
   geometry: {
     type: 'Point',
     coordinates: [<%= @foot_print.product.longitude %>,<%= @foot_print.product.latitude %>]
   },
   properties: {
     title: '<%= @foot_print.product.title %>',
     description: '<%= @foot_print.product.city %>,<%= @foot_print.product.country %>'
   }
 },
 {
   type: 'Feature',
   geometry: {
     type: 'Point',
     coordinates: [<%= @foot_print.longitude %>,<%= @foot_print.latitude %>]
   },
   properties: {
     title: '<%= @foot_print.user.first_name %>',
     description: '<%= @foot_print.town %>,<%= @foot_print.country %>'
   }
 }]
};


// add markers to map
route.features.forEach(function(marker) {

 // create a HTML element for each feature
 var el = document.createElement('div');
 el.className = 'marker';

 new mapboxgl.Marker(el)

 .setLngLat(marker.geometry.coordinates)
 .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
   .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>')
   )
   .addTo(map);
});


var directions = new MapboxDirections({
 accessToken: ENV['MAPBOX_API'],
 unit: 'metric',
 profile: 'mapbox/driving',

});
 directions.setOrigin([<%= @foot_print.product.longitude %>,<%= @foot_print.product.latitude %>])
 directions.addWaypoint(0,[<%= @foot_print.product.longitude + 0.1 %>,<%= @foot_print.product.latitude + 0.02 %>])
 directions.setDestination([<%= @foot_print.longitude %>,<%= @foot_print.latitude %>])


// add to your mapboxgl map
map.addControl(directions, 'top-left');
<%end%>

<h1>

   <%= @foot_print.product.distance_to(@foot_print).round.to_f*1.609%> km

</h1>

