<br><br><br>
<br> <br> 
<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Prenom</th>
          <th scope="col">Nom</th>
          <th scope="col">Email</th>
          <th scoe="col">Show</th>
          <th scoe="col">Delete</th>
        

        </tr>
      </thead>
      <tbody>
<% @user.each do |user| %>    
        <tr>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.email %></td>
          <td><%= link_to "more" , admin_user_path(user.id) %></td>

          <td><%= link_to "Delete", admin_user_path(user.id), :confirm => "Are you sure?", :method => :delete %></td>
        </tr>
        <tr>
        <%end%>
      </tbody>
    </table>
    </div>