<div class="container">
<br>
<br>
<br>
<br>
<br>
<br>
<h2>Profile</h2>
<br>

<div class="card" style="width: 18rem;">
  <div class="card-header">
           first name: <%= @user.first_name %>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
        last name : <%= @user.last_name %><br>
    </li>
    <li class="list-group-item">
        country : <%= @user.country %><br>
    </li>
    <li class="list-group-item">
        town : <%= @user.town %><br>
    </li>
  </ul>
</div>


<br><br><br>






    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">result</th>
        

        </tr>
      </thead>
      <tbody>
    
<% @foot_print.each do |foot| %>
        <tr>
          <td> <%= foot.product.title %> </td>
          <td><%= foot.result %></td>
        </tr>
<% end %>
        <tr>
      </tbody>
    </table>
<div id="menu">
<%= link_to "Modifier le profil", edit_user_registration_path(current_user.id), class:"nav-link"%>
</div>

</div>




