
    <!-- Navbar -->
     <% if user_signed_in? %>
     <nav class="navbar navbar-expand-lg bg-primary semi-transparent fixed-top" color-on-scroll="5">
        <div class="container">
            <div class="navbar-translate">
                 <ul class="navbar-nav mr-auto">
                  
                <li class="nav-item">
                <a class="navbar-brand " href="/" >
                    Carbon print
                </a>
                </li>
   
              
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" data-nav-image="./assets/img/blurred-image-1.jpg" data-color="orange">
                <ul class="navbar-nav ml-auto">

                 
                <li class="nav-item ">
                    <a class="nav-link" data-toggle="modal" data-target="#noticeModal">
                                Qualité de l'air
                            </a>
                        </li>
                        <li class="nav-item">

                  <%= link_to "Voir le profil", user_path(current_user.id),class:"nav-link"%> </li>
                 
                <li class="nav-item ">
                 <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, :style=>'color:#FFFFFF;',  class: "nav-link btn btn-primary btn-round btn-lg" %></li>
                </ul>
            </div>
        </div>
    </nav>

    <% else %>

    <nav class="navbar navbar-expand-lg bg-primary semi-transparent fixed-top " color-on-scroll="5">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="/" style="background-image: ">
                    Carbon print
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" data-nav-image="./assets/img/blurred-image-1.jpg" data-color="orange">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item " >

                 </li>
                     <li class="nav-item active"> <%= link_to "Connexion", user_session_path , class:"nav-link"%></li>
                     <li class="nav-item active"> <%= link_to "Connexion via facebook", user_facebook_omniauth_authorize_path , class:"nav-link"%></li>


                      <li class="nav-item active "> <a class="nav-link "href="/users/sign_up"> S'inscrire</a></li>

                </ul>
            </div>
        </div>
    </nav>
<% end %>
  
     


<div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <%   if user_signed_in? && current_user.town != nil %>
            <div class="modal-dialog modal-notice">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="now-ui-icons ui-1_simple-remove"></i>
                        </button>
                        <h5 class="modal-title" id="myModalLabel">Informations of Air Quality</h5>
                    </div>
                    <div class="modal-body">
                        <div class="instruction">
                            <div class="row">
                                <div class="col-md-8">
                                    <h6><%= "country: #{@country}"%></h6><br>
                                      <h6><%= "City: #{@city}" %></h6><br>
                                      <h6><%= "State: #{@state}"%></h6><br>
                                      <h6><%= "Air Quality Index: #{@aqius} "%></h6>

  
                                </div>
                                <div class="col-md-4">
                                    <div class="picture">
                                        <img src="assets/img/pricing1.jpg" alt="Thumbnail Image" class="rounded img-raised">
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    <div class="modal-footer justify-content-center">
                        <div class="progress">
  

    <% else%>
  <h4>Veuillez connecter pour voir la qualité de l'air de votre ville</h4>

<%end%>
</div>
</div>
</div>
</div>
</div>
</div>
</ul>
</div>
</div>
</nav>
                        
                 
