<!DOCTYPE html>
<html>
  <head>
    <title>CarbonPrint</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.css' type='text/css' />

    </head>

  <body>
    <% if user_signed_in? %>
    <h6 class="dropdown-item" >Bonjour, <%= current_user.first_name %> !</h6>

    <ul>
      <li><a href="news.asp">News</a></li>
      <li><a href="contact.asp">Contact</a></li>
      <li><a href="default.asp">Connexion</a></li>
      <!-- <li> <%# <%= link_to "Voir le profil",user_path(current_user),class:"card-link"%> </li> -->
      <li> <%= link_to "Déconnexion", destroy_user_session_path, method: :delete,class: "btn btn-outline-success" %></li>
    </ul>


    <% else %>

    <ul>
      <li> <%= link_to "Connexion", user_session_path %></li>
      <li> <a href="/users/sign_up"> S'inscrire</a></li>
    </ul>


      <%= link_to "Test", user_session_path %>

    <% end %>

    <%= yield %>
  </body>
</html>
